<div class="container">
  <h1> Xing & Max Beer Inventory </h1>
  <select (change)="onChange($event.target.value)">
     <option value="allKegs">All Kegs</option>
     <option value="IPA">Ipa Kegs</option>
     <option value="Lager">Lager Kegs</option>
     <option value="Stout">Stout Kegs</option>
     <option value="Ale">Ale Kegs</option>
   </select>
   <select (change)="otherChange($event.target.value)">
      <option value="allKegs">All Kegs</option>
      <option value="cheap">Cheap Kegs</option>
    </select>
  <div class="row">
<div *ngFor="let keg of kegs | async | typeofbeer: filterByType | newpipe: filterByPrice">
    <div class="col-lg-6">
    <h1 (click)="keg.editName=!keg.editName">
      {{keg.name}}
      <input *ngIf="keg.editName" [(ngModel)]="keg.name" placeholder="keg.name">
    </h1>
      <ul>
        <li (click)="keg.editBrand=!keg.editBrand">Brewery: {{keg.brand}}</li>
        <input *ngIf="keg.editBrand" [(ngModel)]="keg.brand" placeholder="keg.brand">
        <li [class]="onSale(keg)" (click)="keg.editPrice=!keg.editPrice"> Price: ${{keg.price}}</li>
        <input *ngIf="keg.editPrice" [(ngModel)]="keg.price" placeholder="keg.price">
        <li [class]="howDrunk(keg)" (click)="keg.editAlcoholContent=!keg.editAlcoholContent">Alcohol Content: {{keg.alcoholContent}}%</li>
        <input *ngIf="keg.editAlcoholContent" [(ngModel)]="keg.alcoholContent" placeholder="keg.alcoholContent">
        <li (click)="keg.editType=!keg.editType">Type: {{keg.type}}</li>
        <input *ngIf="keg.editType" [(ngModel)]="keg.type" placeholder="keg.type">
        <li [class]="runningLow(keg)" (click)="keg.editPints=!keg.editPints" (click)="resetPrice(keg)" >Pints Left: {{keg.pints}}</li>
        <input *ngIf="keg.editPints" [(ngModel)]="keg.pints" placeholder="keg.pints" >
        <div class="row">
           <button (click)="sellPint(keg)" (click)="lowSale(keg)"> Sell a Pint!
           </button>
           <button (click)="sellGrowler(keg)" (click)="lowSale(keg)"> Sell a Sm Growler!
           </button>
           <button (click)="sellLgGrowler(keg)" (click)="lowSale(keg)"> Sell a Lg Growler!
          </button>
        </div>
      </ul>
    </div>
  </div>
</div>

<div id="newBeer">
  <app-new-beer (newKegSender)="addKeg($event)"></app-new-beer>
</div>

</div>
